.creating{
  display: flex;
  border-radius: 5px;
    label{
      display: flex;
      justify-content:flex-start;
      }
    input{
      display: flex;
      justify-content:flex-start;
      width: 242px;

    }
}

.simple_form.new_car{
border-radius: 5px;
margin-bottom: 10px;
width: fit-content;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
margin-bottom: 40px;

.btn-primary{
  width: 500px;
  background-color: #0F1D2F;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #0F1D2F;
  margin: 3px;
  opacity: .75;
  display: flex;
  color: aliceblue;
  justify-content: center;
  &:hover{
    border: 1px #0F1D2F solid;
    transition: 0.3s ease;
    opacity: 1;
  }
}

}

.text.optional{
  margin:0px;
}



.mapboxgl-ctrl-geocoder--input{
  width: 500px;
}

.wrapping{
  background-image: url(https://s2.gaming-cdn.com/images/products/8701/screenshot/forza-horizon-5-pc-xbox-one-xbox-series-xs-pc-xbox-one-xbox-serie-x-s-game-microsoft-store-wallpaper-3.jpg);
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -17px;
}

.form-select.select.optional{
  width: 242px;
  border-radius: 5px;
}

.text.optional{
  padding-left: 0px;
  border-radius: 5px;
}

#car_name{
  height: 40px;
  border-radius: 5px;
  border: none;
}

#car_engine{
  margin-bottom: 0px;
}

#car_summary{
  height: 40px;
  border-radius: 5px;
  border: none;
  width: 500px;
}

#car_price{
  height: 40px;
  border-radius: 5px;
  border: none;
}

#car_capacity{
  height: 40px;
  border-radius: 5px;
  border: none;
  width: 500px;
}

#car_photo{
  height: 40px;
  border-radius: 5px;
  border: none;
  width: 500px;
}
