.bookings{
height: 100%;
color: aliceblue;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding-right: 20px;
  select{
    border-radius: 10px;
  }
  input{
    border-radius: 10px;
  }
  h2{
    align-items: center;
    font-size: 28px;
    margin-top: 30px;
  }
}

.allres{
height: 440px;
width: 1200px;
display: flex;
align-items: center;
background-color: #0F1D2F;
color: aliceblue;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}

.card-product h2 {
  margin-top: 10px;
  font-size: 28px;
}
