.card-product {
  overflow: hidden;
  height: 120px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 900 px;
  height: 300px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 150px;
}

.card-product > img {
  height: 100%;
  width: 520px;
  border: 10px;
}

.card-product p {
  margin-bottom: 0;
  color: white;
  margin-left:15px;
}

.card-product h1{
  display: flex;
  justify-content: center;
  color: #BC5933;
  font-size: 20px;
}

.text{
  display: flex;
  align-items: stretch;
  margin-left: 75px;
  flex-direction: column;
  height: 100%;
  width: 380px;
  background-color: #0F1D2F;
  justify-content: space-evenly;
}


.titles{
  display: flex;
  margin-left: 15px;
  color: #BC5933;
}

.links{
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #0F1D2F;
  a{
  width: 150px;
  color: aliceblue;
  padding: 10px;
  background: #0F1D2F;
  transition: 0.3s ease;
  border-radius: 15px;
  border-style: none;
  margin: 13px;
  opacity: .75;
  display: flex;
  justify-content: center;
    &:hover {
      opacity: 1;
      border: 1px solid;
      border-color: white;
      border-radius: 40px;
      transition-duration: 2s;

    }

  }
}


.image{
  width: 40px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
}

a{
  text-decoration: none;
}
