.card-product {
  overflow: hidden;
  height: 120px;
  padding:10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 392px;
  width: 1005px;
  flex-direction: column;
}

.card-product > img {
  height: 100%;
  width: 500px;
  padding:10px;
}

.card-product p {
  margin-bottom: 0;
}

.card-product h1{
  display: flex;
  font-size: 30px;
}

.text{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  width: 303px;
  justify-content: center;
  margin: 40px;
  h2{
    margin-bottom: 50px;
    margin-top: 50px;
  }
  p{
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

.card-product h1{
  font-weight: bold;
}

.container .title{
  font-weight: bold;
}

.titles{
  height: 100px;
}

.links{
  display: flex;
  flex-direction: row;
  a{
  width: 150px;
  padding: 10px;
  transition: 0.3s ease;
  border-radius: 15px;
  border-style: none;
  margin: 13px;
  opacity: .75;
  display: flex;
  color: aliceblue;
  justify-content: center;
    &:hover {
      opacity: 1;
      border-radius: 40px;

    }

  }
}

.image{
  width: 40px;
  padding-left: 10px;
  display: flex;
  justify-content: center
}

a{
  text-decoration: none;
}

.all{
  height: 400px;
display: flex;
align-items: center;
width: 1204px;
background-color: #0F1D2F;
color: aliceblue;
border-radius: 20px;
}
.wrap{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

h1{
  display: flex;
  justify-content: center;
}
