<h1>Hello <%= @user.first_name %></h1>

<h2>find bellow all your reservations :</h2>

<ul>
<% @user.reservations.each do |reservation| %>
    <li>
    <%= link_to reservation.car.name, car_reservation_path(reservation.car, reservation) %>
     <%= link_to "Remove",
              reservation_path(reservation),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
    </li>
<% end  %>
</ul>
