<div class="container content-wrapper pt-5">
  <div class="banner d-flex flex-column align-items-center pt-5">
    <div><h1>DRIVE CRAZY</h1></div>
    <div><p>Get the most amazing cars in the universe</p></div>
    <div class="form d-flex justify-content-center"><form action='/cars' method='get'>
      <input type='text' name='query' placeholder='Which crazy car do you want?' class="input-home">
      <input type='submit' class="button-home" value="RIDE !">
      </form>
    </div>
  </div>
</div>
