<div class="background" style="">
  <div class="container">
    <div class="banner d-flex flex-column align-items-center">
      <div><h1>DRIVE CRAZY</h1></div>
      <div><p>Get the most amazing cars in the universe</p></div>
      <div><form action='/cars/search' method='get'>
        <input type='name' name='query' placeholder='Which crazy car do you want?'>
        <input type='submit'>
        </form>
      </div>
    </div>
  </div>
</div>
