.button-home {
  width: 150px;
  color: aliceblue;
  padding: 10px;
  background: #0F1D2F;
  transition: 0.3s ease;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-style: none;
}

.button-home:hover {
  background: #264977;
  color: white;
}

.add-button {
  a {
    font-style: none;
    color: aliceblue;
    padding: 20px;
    border-radius: 20px;
    background: #0F1D2F;
    transition: background 0.3s ease;
  }

  a:hover {
    background: #264977;
  }
}
