.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 250px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  padding-left: 0px;
  flex-grow: 1;
  margin: 20px;
}

// .cards {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-gap: 15px;
//   flex-grow: 1;
//   margin: 20px;
// }

@media(max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 576px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card-trip {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-trip:hover {
  box-shadow: 0 0 100px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  background-color: #0F1D2F;
  color: aliceblue;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-infos h2, p {
  margin-top: 2px;
}

.card-trip-infos a {
  color: aliceblue
}

.card-summary {
  max-width: 190px;
  height: 35px;
  overflow: hidden;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
