.navbar-lewagon {
  justify-content: space-between;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #0F1D2F;
    a {
        color: aliceblue!important;
    }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.home .navbar-lewagon{
  background-color: transparent;
}

.company {
  letter-spacing: -6px;
}
