<div class="wrapping">
  <div class="container text-center mt-3">
    <div class="creating">
      <div>
        <h1>Add a new crazy car to rent !</h1>
        <%= render "form", car: @car %>
      </div>
    </div>
  </div>
</div>
