<% if policy(Car).create? %>
  <%= link_to "New Car", new_car_path %>
<% end %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @car.photo.key, height: 400, width: 800, crop: :fill %>')">
<div class="container">
<h1><%= @car.name %> </h1>
</div>
</div>
